.login-form {
    margin-top: 20vh;
    margin-left: 350px;
    margin-right: 350px;
}

.btn {
    border-radius: 12px;
    transform: scale(1);
    transition: all 0.3s;
}

.btn .btn-text {
    font-size: 24px;
    transform: scale(1);
    color: white;
    transition: all 0.3s;
}

.btn:active .btn-text {
    transform: scale(0.7);
    transition: all 0.3s;
}