.side-bar {
    padding-top: 100px;
    position: fixed;
    display: flex;
    width: 320px;
    padding-left: 20px;
    min-height: 100%;
    backdrop-filter: blur(14px);
    background-color: rgba(110, 127, 144, 0.3);
    border-right: 3px solid rgba(194, 226, 255, 0.35);
    z-index: 9999;
}

.side-navbar {
    position: fixed;
    height: 80vh;
}

.side-navbar a {
    text-decoration: none;
}

.side-navbar .btn {
    width: 85%;
}

.navbar-tab {
    width: 270px;
    height: 68px;
    background-color: rgba(255, 255, 255, 0.0);
    transition: all 0.2s;
}

.navbar-tab span {
    font-size: 24px;
    transition: all 0.2s;
}

.navbar-tab img {
    width: 24px;
    transition: all 0.2s;
}

.navbar-tab:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.2s;
}

.navbar-tab:hover span {
    font-size: 28px;
    transition: all 0.2s;
    margin-bottom: 6px;
}

.navbar-tab:hover img {
    margin-top: 6px;
    width: 28px;
    transition: all 0.2s;
}

.navbar-tab-selected {
    width: 270px;
    height: 68px;
    background-color: rgba(255, 255, 255, 0.0);
    transition: all 0.2s;
}

.navbar-tab-selected span {
    font-size: 28px;
    margin-bottom: 6px;
    transition: all 0.2s;
}

.navbar-tab-selected img {
    margin-top: 6px;
    width: 28px;
    transition: all 0.2s;
}

.navbar-tab-selected:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.2s;
}

.navbar-tab-selected:hover span {
    font-size: 28px;
    transition: all 0.2s;
    margin-bottom: 6px;
}

.navbar-tab-selected:hover img {
    margin-top: 6px;
    width: 28px;
    transition: all 0.2s;
}

.sidebar-tab {
    padding: 16px;
    display: flex;
    align-items: flex-start;
    font-weight: 400;
    height: 100%;
    width: 100%;
    transition: all 0.2s;
}

.sidebar-tab a {
    color: rgb(153, 163, 178);
}

.sidebar-tab-selected {
    padding: 16px;
    display: flex;
    align-items: flex-start;
    font-size: 24px;
    font-weight: 700;
    height: 100%;
    width: 100%;
    transition: all 0.2s;
}

.sidebar-tab-selected a {
    color: rgb(220, 235, 255);
}

.sidebar-tab-icon {
    margin-bottom: 5px;
}

.sidebar-tab-icon-selected {
    margin-bottom: 5px;
}

.sidebar-button-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    background-color: black;
    position: absolute;
    bottom: 650px;
    left: 30px;
}