#root {
    border: 0;
    padding: 0;
    margin: 0;
}

.App {
    min-height: 100vh;
    max-width: 100vw;
    padding: 0px;
    background-color: rgb(25, 27, 30);
    text-align: center;
    overflow-x: hidden;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.container h1 {
    color: rgb(225, 225, 225);
}

.container h2 {
    color: rgb(225, 225, 225);
}

.container h3 {
    color: rgb(225, 225, 225);
}

.container h4 {
    color: rgb(225, 225, 225);
}

form {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

table {
    width: 96%;
}
